In [49]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from datetime import datetime

In [50]:
data_path = './news-portal-user-interactions-by-globocom/'

In [51]:
articles_metadata = pd.read_csv(data_path + 'articles_metadata.csv')  
articles_metadata

        article_id  category_id  created_at_ts  publisher_id  words_count
0                0            0  1513144419000             0          168
1                1            1  1405341936000             0          189
2                2            1  1408667706000             0          250
3                3            1  1408468313000             0          230
4                4            1  1407071171000             0          162
...            ...          ...            ...           ...          ...
364042      364042          460  1434034118000             0          144
364043      364043          460  1434148472000             0          463
364044      364044          460  1457974279000             0          177
364045      364045          460  1515964737000             0          126
364046      364046          460  1505811330000             0          479

[364047 rows x 5 columns]

In [52]:
articles_embeddings = pd.read_pickle(data_path + 'articles_embeddings.pickle')

In [53]:
articles_embeddings

array([[-0.16118301, -0.95723313, -0.13794445, ..., -0.231686  ,
         0.5974159 ,  0.40962312],
       [-0.52321565, -0.974058  ,  0.73860806, ...,  0.18282819,
         0.39708954, -0.83436364],
       [-0.61961854, -0.9729604 , -0.20736018, ..., -0.44758022,
         0.8059317 , -0.28528407],
       ...,
       [-0.25139043, -0.9762427 ,  0.58609664, ..., -0.14372464,
         0.06809307, -0.7050104 ],
       [ 0.22434181, -0.92328775, -0.38174152, ...,  0.6871319 ,
        -0.5315117 ,  0.01072566],
       [-0.25713393, -0.9946313 ,  0.9837918 , ...,  0.98387307,
        -0.8381829 , -0.1792827 ]], dtype=float32)

In [54]:
articles_embeddings.shape

(364047, 250)

In [55]:
clicks_hour_000 = pd.read_csv(data_path + 'clicks/clicks_hour_000.csv')

In [56]:
clicks_hour_000

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,1506825423271737,1506825423000,2,157541,1506826828020,4,3,20,1,20,2
1,0,1506825423271737,1506825423000,2,68866,1506826858020,4,3,20,1,20,2
2,1,1506825426267738,1506825426000,2,235840,1506827017951,4,1,17,1,16,2
3,1,1506825426267738,1506825426000,2,96663,1506827047951,4,1,17,1,16,2
4,2,1506825435299739,1506825435000,2,119592,1506827090575,4,1,17,1,24,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1878,705,1506828968165442,1506828968000,2,119592,1506830912301,4,1,17,1,21,2
1879,705,1506828968165442,1506828968000,2,284847,1506830942301,4,1,17,1,21,2
1880,706,1506828979881443,1506828979000,3,108854,1506829027334,4,3,2,1,25,1
1881,706,1506828979881443,1506828979000,3,96663,1506829095732,4,3,2,1,25,1
1882,706,1506828979881443,1506828979000,3,68866,1506829125732,4,3,2,1,25,1

In [57]:
# user_id, session_id, session_size, click_article_id

In [58]:
file_click = data_path + 'clicks.csv'

In [59]:
def create_click_file():

    clicks_path = []
    clicks_dir = data_path + "clicks"

    clicks_path = clicks_path + sorted(
            [
                os.path.join(clicks_dir, fname)
                for fname in os.listdir(clicks_dir)
                if fname.endswith(".csv")
            ]
        )

    _li = []

    for filename in clicks_path:
        df = pd.read_csv(filename, index_col=None, header=0)
        _li.append(df)

    clicks = pd.concat(_li, axis=0, ignore_index=True)
    clicks.to_csv(file_click)

In [60]:
if not os.path.exists(file_click):
    create_click_file()

In [61]:
clicks= pd.read_csv(file_click)

In [62]:
clicks

,Unnamed: 0,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,0,1506825423271737,1506825423000,2,157541,1506826828020,4,3,20,1,20,2
1,1,0,1506825423271737,1506825423000,2,68866,1506826858020,4,3,20,1,20,2
2,2,1,1506825426267738,1506825426000,2,235840,1506827017951,4,1,17,1,16,2
3,3,1,1506825426267738,1506825426000,2,96663,1506827047951,4,1,17,1,16,2
4,4,2,1506825435299739,1506825435000,2,119592,1506827090575,4,1,17,1,24,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2988176,2988176,10051,1508211372158328,1508211372000,2,84911,1508211557302,4,3,2,1,25,1
2988177,2988177,322896,1508211376302329,1508211376000,2,30760,1508211672520,4,1,17,1,25,2
2988178,2988178,322896,1508211376302329,1508211376000,2,157507,1508211702520,4,1,17,1,25,2
2988179,2988179,123718,1508211379189330,1508211379000,2,234481,1508211513583,4,3,2,1,25,2
2988180,2988180,123718,1508211379189330,1508211379000,2,233578,1508211543583,4,3,2,1,25,2

In [63]:

def table_valeurs_manquantes(df):
    valeurs_manquantes = ((df.isna().sum()/df.shape[0])*100).sort_values(ascending=False)  
    return pd.DataFrame(valeurs_manquantes,columns=['% de valeurs manquantes'])

In [64]:
table_valeurs_manquantes(articles_metadata)

               % de valeurs manquantes
article_id                         0.0
category_id                        0.0
created_at_ts                      0.0
publisher_id                       0.0
words_count                        0.0

In [65]:
pd.DataFrame(articles_embeddings).isna().sum().value_counts()

0    250
dtype: int64

In [66]:
table_valeurs_manquantes(clicks)

                     % de valeurs manquantes
Unnamed: 0                               0.0
user_id                                  0.0
session_id                               0.0
session_start                            0.0
session_size                             0.0
click_article_id                         0.0
click_timestamp                          0.0
click_environment                        0.0
click_deviceGroup                        0.0
click_os                                 0.0
click_country                            0.0
click_region                             0.0
click_referrer_type                      0.0

In [67]:
from operator import itemgetter

# get embedding for one article
def get_embedding_from_article(article_id):
    return articles_embeddings[article_id]

# get last clicked article or random clicked article for one user
def get_article_from_user(user_id, method = 'last'):
    
    article_id = ''
    clicks_user = clicks[clicks['user_id']==user_id].copy()
    
    if method == 'last':
        clicks_user['click_timestamp'] = clicks_user['click_timestamp'].apply(str)
        clicks_user['click_timestamp'] = clicks_user.apply(lambda x: x['click_timestamp'][:-3], axis = 1)
        clicks_user['click_timestamp'] = clicks_user['click_timestamp'].apply(int)
        clicks_user['click_datetime'] = clicks_user['click_timestamp'].apply(lambda x: datetime.fromtimestamp(x))
        article_id = clicks_user[clicks_user['click_datetime'] == clicks_user['click_datetime'].max()]['click_article_id']
    elif method == 'random':
        article_id = clicks_user.sample(1)['click_article_id']

    return article_id.item()

# get all clicked articles for one user 
def get_articles_from_user(user_id):
    
    article_id = ''
    clicks_user = clicks[clicks['user_id']==user_id].copy()

    return clicks_user['click_article_id'].to_list()

# get mean embedding from all embeddings for one user
def get_embedding_from_user(user_id):
    user_articles = get_articles_from_user(user_id)
    user_articles_index = get_articles_index_from_user_articles(user_articles)
    user_embeddings = articles_embeddings[user_articles_index]
    user_embedding = user_embeddings.mean(axis=0)
    return user_embedding

# get articles index of list of articles
def get_articles_index_from_user_articles(user_articles):
    user_articles_index = articles_metadata[articles_metadata['article_id'].isin(user_articles)].index.to_list()
    return user_articles_index

# compute cosinus similarity between given embedding and others articles embedding
def cos_sim(embedding, user_id):
    user_articles_index = get_articles_index_from_user_articles(get_articles_from_user(user_id))
    scores = []
    for i in range(0, len(articles_embeddings)):
        if i not in user_articles_index:
            cos_sim = np.dot(embedding, articles_embeddings[i])/(np.linalg.norm(embedding)*np.linalg.norm(articles_embeddings[i]))
            scores.append(cos_sim)
    return scores

# recommendations with mean embedding, last article or random article from one user
def content_based_recommend(user_id, top, method = 'mean'):
    if method == 'mean':
        embedding = get_embedding_from_user(user_id)
    else:
        article_id = get_article_from_user(user_id, method)
        embedding = get_embedding_from_article(article_id)
        
    scores = cos_sim(embedding, user_id)
    best_scores = find_top_n_indices(scores, top)
    
    return best_scores


# find top indices in the scores list 
def find_top_n_indices(scores, top=5):
    indexed = enumerate(scores)
    sorted_scores = sorted(indexed, 
                         key=itemgetter(1), 
                         reverse=True) 
    return [d[0] for d in sorted_scores[:top]]

In [68]:
%%time
content_based_recommend(0, 5, 'mean')

Wall time: 3.96 s

[162229, 160960, 162224, 155939, 160074]

In [69]:
%%time
content_based_recommend(0, 5, 'last')

Wall time: 4.02 s

[87275, 86142, 87673, 87029, 87424]

In [70]:
%%time
content_based_recommend(0, 5, 'random')

Wall time: 4.42 s

[157510, 159279, 157550, 162363, 156351]